Repository stlbnmaria/xhec-mlops-project-student: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, ruff, nbstripout

isort:
  name: Sorting imports (isort)
  entry: isort
  language: system

ruff:
  name: Linting (ruff)
  entry: ruff
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

Added functions to main.py and formatted other py files
  src/modelling/main.py
  src/modelling/predicting.py
  src/modelling/preprocessing.py
  src/modelling/utils.py
Due: isort, ruff

corrected rmse
  notebooks/modelling.ipynb
Due: nbstripout

put hard coded variables on top
  notebooks/modelling.ipynb
Due: nbstripout

deleting assets
  assets/PR_right.png
  assets/PR_wrong.png
Due: none

added config paths to main
  src/modelling/main.py
Due: isort, ruff

deleted evaluate function from training
  src/modelling/training.py
Due: isort, ruff

added config folder and file
  config/config.py
Due: isort, ruff

Prepared the logic for the step 4, while keeping the dummy model.
  Dockerfile
  assets/PR_right.png
  assets/PR_wrong.png
  pyproject.toml
  requirements.in
  requirements.txt
  src/web_service/app_config.py
  src/web_service/lib/inference.py
  src/web_service/lib/models.py
  src/web_service/main.py
  src/web_service/utils.py
Due: isort, ruff

updated the readme
  README.md
Due: none

deleted PR_2.md file
  PR_2.md
Due: none

deleted categorical cols from config
  config/config.py
Due: isort, ruff

removed .gitignore and added picle model
  src/web_service/local_objects/.gitignore
  src/web_service/local_objects/model.pkl
Due: none

Changed doc strings in main.py
  src/modelling/main.py
Due: isort, ruff

changed docstring in preprocessing.py
  src/modelling/preprocessing.py
Due: isort, ruff

changed docstring in preprocessing.py
  src/modelling/utils.py
Due: isort, ruff

added evaluation and mlflow run
  src/modelling/main.py
  src/modelling/utils.py
Due: isort, ruff

added prefect
  requirements-dev.txt
Due: none

Added .idea to the .gitignore.
  .gitignore
Due: none

remove predict function from training and added init prefect options
  src/modelling/main.py
  src/modelling/predicting.py
  src/modelling/preprocessing.py
  src/modelling/training.py
  src/modelling/utils.py
Due: isort, ruff

give names to flows and tasks
  src/modelling/main.py
  src/modelling/predicting.py
  src/modelling/preprocessing.py
  src/modelling/training.py
  src/modelling/utils.py
Due: isort, ruff

bug fix for inplace drop
  notebooks/modelling.ipynb
  src/modelling/preprocessing.py
Due: isort, ruff, nbstripout

fixed one hot encoding
  src/modelling/preprocessing.py
Due: isort, ruff

Added pickle model
  src/web_service/local_objects/model.pkl
Due: none

change so that runs are not deployed
  src/modelling/main.py
Due: isort, ruff

update readme with prefect indications
  README.md
Due: none

remove PR instructions
  PR_3.md
Due: none

Added preprocessing function to the inference.py
  src/web_service/lib/inference.py
Due: isort, ruff

added f to encoding
  src/modelling/preprocessing.py
Due: isort, ruff

add spaces for docstrings
  src/modelling/predicting.py
  src/modelling/training.py
Due: isort, ruff

Added pickle model after taking all 3 genders in preprocessing
  src/web_service/local_objects/model.pkl
Due: none

Change to the inference.py
  src/web_service/lib/inference.py
Due: isort, ruff

Merged before pull.
  requirements.in
  requirements.txt
  src/web_service/local_objects/model.pkl
Due: none

Removed the typo.
  bin/run_services.sh
Due: none

Update README.md
  README.md
Due: none

Added section to the README.md about running FastAPI.
  README.md
Due: none

Removed because it is useless.
  bin/run_services.sh
Due: none

added authors and changed homepage
  pyproject.toml
Due: none

Removed .idea folder.
  .idea/.gitignore
Due: none

Removed PR.md
  PR_4.md
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
